@font-face {
  font-family: "Mulish-Regular";
  src: url("./assets/font/Mulish-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  src: url("./assets/font/Epilogue-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: bold;
}

body {
  background-color: #f8f9fa;
}
.arrow.down {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Navbar & Hero section Background */
.background-container {
  background-image: url("./assets/images/hero-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #fff;
}

/* Make the navbar transparent only on lg and larger screens */
@media (min-width: 992px) {
  .navbar {
    background-color: transparent !important;
  }
}

.custom-nav-link {
  color: #191970 !important;
}

.custom-nav-link.active {
  font-weight: bold !important;
}

/* Hero section begins Here */

.hero-section {
  padding: 50px 0;
  font-family: "Mulish-Regular";
  margin-top: 80px;
  min-height: 100vh;
}

.hero-section h1 {
  color: #191970;
  font-family: "Mulish-Regular";
  font-weight: 800;
}

h2 {
  font-family: "Epilogue";
}

h4,
h5 {
  font-family: "Mulish-Regular";
  color: #191970;
  font-weight: 800;
}

h6 {
  font-family: "Epilogue";
  color: #191970;
  font-weight: 800;
}

p {
  font-family: "Mulish-Regular";
}

/* Getstarted Component background */
.bg-light-gray {
  background-color: #f2f3fb;
  padding: 30px;
  border-radius: 10px;
}

/* Custom CSS to remove border around the Navbar toggle icon */
.navbar-toggler {
  border: none;
}

.footer-container {
  margin: 0 3%;
}
